:root {
    --main-bg-color: rgb(209, 222, 226);
    --table-td-hover-color: rgb(161, 166, 166);
    --hauteur-menu : 15px;
}


*{
  margin : 0px;
  padding : 0px;
}

body{
  width: 90%;
  margin: auto;
}

h1{
  text-align: center;
}


/* menu de navigation */

@keyframes rotationFleche {
  0% {
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(90deg);
  }
}

@keyframes apparitionSousMenu {
  0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
  }
  30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
      max-height: 50em;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

nav{
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    background-color: var(--main-bg-color);
}

nav > ul{
  height: var(--hauteur-menu);
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  height: 30px;
}

nav ul{
    list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}
 
#navm{
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  background-color: white;
}

#navm ul{
  list-style-type: none;
}

#navm li{
  float : left;
  width : 20%;
  text-align : center;
}

#navm ul::after{
  content: "";
  display: table;
  clear: both;
}

#navm a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

#navm a:hover{
  color: orange;
  border-bottom: 2px solid gold;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.3s linear forwards;
}

nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  text-decoration: none;
  font-style: italic;
  color: black;
}


/* tableau */

.tab {
    width: 70%;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    margin-bottom:10px;
    margin-top: 30px;
}

.tableau_1{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    font-size: 70%;
}

.tableau_1 tbody tr:nth-child(odd) {
    background-color: var(--main-bg-color);
}
  
.tableau_1 tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.tableau_1 thead th{
  padding: 2px;
  text-align: right;
  border: 1px inset black;
}
  
.tableau_1 tbody td{
  padding: 2px;
  text-align: right;
  border:0.1px solid var(--table-td-hover-color);
}

.tableau_1 thead th:hover{
  background-color: var(--table-td-hover-color)
}

.tableau_1 tbody td:hover{
  background-color: var(--table-td-hover-color)
}